/target                                                                                                                                                                                                                                    
/classes
/checkouts
*.jar
*.class
.hgignore
.hg/
*.iml
.idea/
